.col-lg-11 {
	display: flex;
	justify-content: center;
}

#bodyCont{
	width: 87%;
}

.aboutImage {
	float: left;
	margin: 1em;
	width: 20vw;
}

.aboutText {
	font-size: 2em;
	color: white;
	margin: 1em;
}

.aboutText a {
	color: white;
}
