body {
	background: url("https://i.imgur.com/0bImJzX.jpg") no-repeat center center fixed;
	background-size: cover;
	font-size: 10px;
	overflow: hidden;
}

@font-face {
	font-family: Eurostile; src: url('./EUROSTIB.ttf');
}

/*Title*/
#title {
	position: absolute;
    top: 50vh;
    left: 50%;
    margin-top: -150px;
    margin-left: -170px;
    width: 460px;
    height: 300px;
	/*border: solid white;*/
	transition: 0.75s;
}

h1 {
	color: white;
	font-family: Eurostile;
	text-transform: uppercase;
	font-size: 8.8em;
	transition: .75s;
}

h2 {
	color: white;
	font-family: Eurostile;
	text-transform: uppercase;
	font-size: 4.8em;
	color: rgba(255,255,255,.6);
	margin-bottom: -60px;
	transition: .75s;
}


/*Buttons*/
.menu {
	position: absolute;
	/*border: 1px solid white;*/
}

.menu td {
	height: 23.8vh;
	vertical-align: middle;
	transition: 0s;
	/*border: 1px solid white;*/
}

.buttonCard {
	width: 120px;
	height: 100px;
	cursor: pointer;
	position: relative;
}

.buttonText {
	width: 100%;

	text-align: center;
	color: white;
	text-transform: uppercase;
	font-family: Eurostile;
	font-size: 1.2em;

	position: absolute;
	bottom: 0;	
}

.button {
	width: 70px;
	position: relative;
	margin: 0 auto;
}

.button img {
	width: 100%;
	position: absolute;
}

.buttonCard:hover > .button > .outer {
	-webkit-animation: rotateOut 2s infinite linear;
}

.buttonCard:hover > .button > .inner {
	-webkit-animation: rotateIn 2s infinite linear;
}

.buttonCard:hover > .buttonText {
	text-shadow: 0px 0px 10px rgb(129, 225, 244);
}


@keyframes rotateIn {
    from {
    	transform: rotate(0deg);
    } to {
    	transform: rotate(360deg);
    }
}

@keyframes rotateOut {
    from {
    	transform: rotate(360deg);
    } to {
    	transform: rotate(0deg);
    }
}