/*https://i.imgur.com/0bImJzX.jpg*/
body {
	background-color:  rgb(12, 31, 63);
	background: url("https://i.imgur.com/Q15q9RE.png") no-repeat center center fixed;
	background-size: cover;
	font-size: 10px;
	overflow: hidden;
}

@font-face {
	font-family: Eurostile; src: url('./EUROSTIB.ttf');
}

h1, h2 {
	color: white;
	font-family: Eurostile;
	text-transform: uppercase;
}

#nav-placeholder {
	display: none;
}

/*Buttons*/
.menu {
	position: absolute;
}

.menu td {
	height: 19.95vh;
	vertical-align: middle;
}

.buttonCard {
	height: 10em;
	width: 15em;
	cursor: pointer;
	position: relative;
}

.buttonText {
	width: 100%;

	text-align: center;
	color: white;
	text-transform: uppercase;
	font-family: Eurostile;
	font-size: 2.2em;

	position: absolute;
	bottom: -.5em;	
}

.button {
	width: 7em;
	position: relative;
	margin: 0 auto;
}

.button img {
	width: 100%;
	position: absolute;
}

.buttonCard:hover > .button > .outer {
	-webkit-animation: rotateOut 2s infinite linear;
}

.buttonCard:hover > .button > .inner {
	-webkit-animation: rotateIn 2s infinite linear;
}

.buttonCard:hover > .buttonText {
	text-shadow: 0 0 1em rgb(129, 225, 244);
}


@keyframes rotateIn {
    from {
    	transform: rotate(0deg);
    } to {
    	transform: rotate(360deg);
    }
}

@keyframes rotateOut {
    from {
    	transform: rotate(360deg);
    } to {
    	transform: rotate(0deg);
    }
}

.title {
	font-size: 6em;
	line-height: 1em;
}

.title::first-letter { 
	font-size: 1.2em;
	color: rgba(58, 242, 119, 1);
}

.hex h1 {
	font-size: 1em;
}

#bodyCont{
	padding: 20px 0;
	width: 100%;
}

@media(max-width:980px)  {     
	#bodyCont {
	    width: 82%;
	}
	#menu {
		display: none;
	}
	#nav-placeholder {
		display: block;
	}
}