body {
	background: url("https://i.imgur.com/0bImJzX.jpg") no-repeat center center fixed;
	background-size: cover;
	font-size: 10px;
	overflow: hidden;
}

@font-face {
	font-family: Eurostile; src: url('./EUROSTIB.ttf');
}

h1 {
	font-size: 8.8em;
	color: white;
	font-family: Eurostile;
	text-transform: uppercase;
	position: relative;
	line-height: 0.9em;
}

h2 {
	font-size: 4.8em;
	color: white;
	font-family: Eurostile;
	text-transform: uppercase;
	color: rgba(255,255,255,.6);
	margin-bottom: -0.2em;
}

/*Buttons*/
.menu {
	position: absolute;
}

.menu td {
	height: 24.95vh;
	vertical-align: middle;
	width: 20em;
}

.buttonCard {
	height: 10em;
	cursor: pointer;
	position: relative;
}

.buttonText {
	width: 100%;

	text-align: center;
	color: white;
	text-transform: uppercase;
	font-family: Eurostile;
	font-size: 2.4em;

	position: absolute;
	bottom: -.5em;	
}

.button {
	width: 7em;
	position: relative;
	margin: 0 auto;
}

.button img {
	width: 100%;
	position: absolute;
}

.buttonCard:hover > .button > .outer {
	-webkit-animation: rotateOut 2s infinite linear;
}

.buttonCard:hover > .button > .inner {
	-webkit-animation: rotateIn 2s infinite linear;
}

.buttonCard:hover > .buttonText {
	text-shadow: 0 0 1em rgb(129, 225, 244);
}


@keyframes rotateIn {
    from {
    	transform: rotate(0deg);
    } to {
    	transform: rotate(360deg);
    }
}

@keyframes rotateOut {
    from {
    	transform: rotate(360deg);
    } to {
    	transform: rotate(0deg);
    }
}

.title h1 {
	font-size: 8.4em;
	margin-top: 0.25em;
}

.title h1::first-letter { 
	font-size: 1.4em;
	color: rgba(58, 242, 119, 1);
}