/*Lessons*/
.lesText {
	color: white;
	font-family: Eurostile;
	font-size: 1.8em;
	margin: 10px;
	display: block;
	width: 67vh;
}

.lesText a {
	color: white;
}

.tblLesson {
	width: 66vh;
	text-align: center;
}

.tblLesson th {
	width: 20vw;
	text-align: center;
}

.tblTitle {
	font-size: 1.4em;
}
