/*Lessons*/
.col-lg-11 {
	display: flex;
	justify-content: center;
}

#bodyCont{
	width: 87%;
}

.lesText {
	font-size: 2em;
	color: white;
	margin: 1em;
}

.lesText a {
	color: white;
}

.tblLesson {
	width: 66vh;
	text-align: center;
}

.tblLesson th {
	width: 20vw;
	text-align: center;
}

.tblTitle {
	font-size: 2em;
}
