/**{border: 1px white solid }*/

/*center column*/
.col-lg-8 {
	display: flex;
	justify-content: center;
}

#bodyCont{
	width: 82%;
	/*background-color: black;*/
	padding: 20px;
}

#bodyCont h3 {
	color: black;
	text-shadow: 0.1em 0 0.25em rgba(58, 242, 119, 1);
	font-weight: bold;
}

/*scrollbar stuff*/
.scrollbarText {
	height: 91vh;
	padding-right: 1em;
	overflow: auto;
}

.scrollbarText::-webkit-scrollbar {
	width: 1.2em;
}

.scrollbarText::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 .6em rgba(0,0,0,0.3);
}

.scrollbarText::-webkit-scrollbar-thumb {
	background: rgba(58, 242, 119, 1); 
	-webkit-box-shadow: inset 0 0 .6em rgba(0,0,0,0.5);
}

.scrollbarText::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(58, 242, 119, 0.4);
}

.scrollbarText img {
	width: 40em;
}

.section {
	margin-top: 3em;
}

.section p {
	margin-top: 0.5em;
}

.leftImg {
	float: left;
	margin: 0 2em 0.6em 0;
}

.rightImg {
	float: right;
	margin: 0 0 0.6em 2em;
}

.centerImg {
	margin: 2em 1em 1em 1em;
	width: 99%;
}

.scrollbarText p {
	font-size: 2em;
	position: relative;
	color: white;
	text-align: left;
}

.features{
	font-size: 2em;
	color: white;
}

.features table {
    border-collapse: collapse;
    width: 70%;
}

.features td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/*vertical carousel*/
.verticalCarousel{
	height: 100vh;
	width: 100%;
	position: absolute;
	overflow-y: scroll;
	transition: 5s;
}

.verticalCarousel img {
	margin: .6em 0;
	width: 100%;
	position: relative;
}

#topGradient {
	position:absolute;
    z-index:2;
    height:50px;
    width: 80%;
    margin-left: -20px;
    background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0, 1) 100%);
}

#bottomGradient {
	position:absolute;
    z-index:2;
    bottom:1vh;
    height:100px;
    width: 78%;
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
}
