/** {border: 1px solid white;}*/

#flexTitle {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  width: 600px;
  background-color: rgba(72,72,72, 0.8);
  padding: 50px;
  -webkit-animation: fadein 3s;
  transition: 2s;
  border-radius: 10px;
}

#title:hover {
   background-color: rgba(72,72,72, 0.25)
}

@keyframes fadein {
	from { opacity:0; }
	to { opacity: 1; }
}

#quote {
	color: white;
	font-size: 2em;
}

h1 {
  font-size: 8.8em;
  color: white;
  font-family: Eurostile;
  text-transform: uppercase;
  position: relative;
  line-height: 0.9em;
}

h2 {
  font-size: 4.8em;
  color: white;
  font-family: Eurostile;
  text-transform: uppercase;
  color: rgba(255,255,255,.6);
  margin-bottom: -0.2em;
}

.menu {
  position: absolute;
  margin-left: -16em;
  transition: 1s;
}

@keyframes pulse {
  0% { opacity: 0; }
  40% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; }
}

#chevDiv {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-left: 30px;
  width: 26px;
  align-items: center;
  position: absolute;
  /*border: 1px white solid*/
}

.chevron {
  height: 6vh;
  max-height: 100px;
  cursor: pointer;
  -webkit-animation: pulse 1.7s ease-in infinite;
}

